// 門市據點
.store-detailed{
    &-bg{
        padding: 32px 0 160px;
    }
    @include pad(){
        &-bg{
            padding: 24px 0 96px;
        }
    }
    @include mobile(){
        &-bg{
            padding: 20px 0 56px;
        }
    }
    &-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // 間距
    &-ml-img{
        margin-left: 3px;
    }
    &-ml{
        margin-left: 8px;
    }
    &-card{
        display: flex;
        flex-wrap: wrap;
    }
    &-item{
        width: 100%;
        margin-right: 30px;
        margin-bottom: 2%;
    }
    &-img{
        width: 100%;
    }
    &-img-h{
        height: 232.5px;
    }
    &-title{
        border:1px solid #00000020;
        font-size: 24px;
        line-height: 36px;
        padding: 12px 0 12px 24px;
    }
    &-list{
        border:1px solid #00000020;
        padding: 16px 26px;
    }
    &-tel{
        color: #000;
    }
    &-info{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    &-icon{
        width: 20px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
    }
    @include pad(){
        &-body{
            flex-direction: column;
        }
        &-card{
            margin-bottom: 30px;
        }
        &-item{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-img{
            width: calc(100% / 2);
        }
        &-title{
            font-size: 16px;
            line-height: 24px;
            padding: 8px 0 8px 16px;
        }
        &-list{
            border:1px solid #00000020;
            padding: 16px 26px;
        }
        &-icon{
            width: 16px;
        }
        &-text{
            font-size: 14px;
            line-height: 21px;
        }
    }
    @include mobile(){
        &-item{
            flex-direction: column;
        }
        &-img{
            width: 100%;
        }
        &-list{
            width: 345px;
        }
    }
}
.iframe-map{
    display: none;
}
@include mobile(){
    .iframe{
        display: none;
    }
    .iframe-map{
        display: block;
    }
}