// 標題區塊
.head-bg{
    padding: 96px 0 65px;
    @include pad(){
        padding: 60px 0 40px;
    }
    @include mobile(){
        padding: 28px 0 24px;
    }
    .heading{
        font-size: 48px;
        font-weight: 700;
        line-height: 70px;
        border-left: 8px solid #9F1213;
        padding-left: 10px;
    }
    @include pad(){
        .heading{
            border-left: 4px solid #9F1213;
            line-height: 67px;
        }
    }
    @include mobile(){
        .heading{
            font-size: 28px;
            line-height: 40px;
        }
    }
}
// 常見問題
.qa-bg{
    padding-bottom: 160px;
    @include pad(){
        padding-bottom: 96px;
    }
    @include mobile(){
        padding-bottom: 56px;
    }
    .qa{
        font-size: 32px;
        line-height: 45px;
        font-weight: 700;
    }
    .know{
        margin-top: 36px;
    }
    .qa-example{
        margin-bottom: 32px;
    }
    .q{
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .a{
        margin-left: 9%;
    }
    @include pad(){
        .a{
            margin-left: 8%;
        }
    }
    @include mobile{
        .qa{
            font-size: 20px;
            line-height: 35px;
        }
        .q{
            margin-bottom: 8px;
        }
        .a{
            margin-left: 0;
        }
    }
}