// 各區塊標題
.title{
    font-size: 48px;
    line-height: 67px;
    font-weight: 700;
    text-align: center;
    color: #650300;
    @include pad(){
        font-size: 32px;
        line-height: 45px;
    }
    @include mobile(){
        font-size: 24px;
        line-height: 33px;
    }
}
// banner
.content{
    height: 840px;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
    .promise-desert{
        display: flex;
        justify-content: flex-end;
        // align-items: center; 沒有效果
        padding: 308px 407px 0 0;
        color: #650300;
    }
    .content-box{
        text-align: right;
    }
    .content-subtitle{
        font-size: 36px;
        line-height: 50px;
    }
    .content-subtitle2{
        font-size: 64px;
        line-height: 90px;
        font-weight: 700;
    }
    @include pad(){
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png);
        .promise-desert{
            padding: 372px 38.5px 0 0;
        }
        .content-subtitle{
            font-size: 20px;
            line-height: 39px;
        }
        .content-subtitle2{
            font-size: 48px;
            line-height: 67px;
        }
    }
    @include mobile(){
        height: 394px;
        .promise-desert{
            padding: 164px 15px 0 0;
        }
        .content-subtitle{
            font-size: 16px;
            line-height: 22px;
        }
        .content-subtitle2{
             font-size: 32px;
             line-height: 45px;
        }
    }
}
// 四點優勢說明
.service-bg{
    padding: 60px 0 80px;
    @include pad(){
        padding: 40px 0 56px;
    }
    @include mobile(){
        padding: 32px 0 40px;
    }
    background-color: #AA06010D;
    .service{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .service-item{
        width: 20%;
    }
    .service-icon{
        margin: 0 auto 40px auto;
    }
    .service-title{
        text-align: center;
        color: #650300;
        font-size:24px ;
        line-height: 33px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    @include pad(){
        .service-item{
            width: 35%;
            margin-bottom: 40px;
        }
        .service-icon{
            margin: 0 auto 16px auto;
        }
        .service-title{
            font-size:20px ;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
    @include mobile(){
        .service{
            margin-top: 20px;
        }
        .service-item{
            width: 90%;
        }
    }
}
// 經典系列
.classic-bg{
    // 間距
    .ml-lg{
        margin-left: 32px;
    }
    .mr-lg{
        margin-right: 32px;
    }
    @include pad(){
        .mr-lg{
            margin-right: 0;
        }
        .ml-lg2{
            margin-left: 32px;
        }
    }
    @include mobile(){
        .ml-lg{
            margin-left: 0;
        }
        .mr-lg{
            margin-right: 0;
        }
        .ml-lg2{
            margin-left: 0;
        }
    }
    padding: 60px 0 80px;
    @include pad(){
        padding: 40px 0 56px;
    }
    @include mobile(){
        padding: 32px 0 40px;
    }
    .classic{
        margin-top: 40px;
        @include pad(){
            margin-top: 32px;
        }
        @include mobile(){
            margin-top: 20px;
        }
        .classic-item{
            display: flex;
            align-items: center;
            margin-bottom: 32px;
        }
        .reverse{
            flex-direction: row-reverse;
        }
        .classic-img{
            width: 60%;
        }
        .classic-box{
            display: flex;
            align-items: center;
            font-family: 'Roboto';
            font-style: italic;
            font-weight: 900;
            font-size: 48px;
            line-height: 63px;
            color: #AA0601;
        }
        .classic-icon{
            width: 48px;
            margin-right: 8px; 
        }
        .classic-mobileicon{
            display: none;
        }
        @include pad(){
            .reverse{
                flex-direction: row;
            }
            .classic-box{
                font-size: 28px;
                line-height: 37px;
            }
            .classic-icon{
                width: 32px;
            }
        }
        @include mobile(){
            .classic-item{
                position: relative;
            }
            .classic-img{
                width: 100%;
                margin: 0 auto;
            }
            .classic-box{
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .classic-icon{
                display: none;
            }
            .classic-mobileicon{
                display: block;
                width: 32px;
                margin-right: 8px;
            }
        }
    }
}
// 聯名設計
.joint-bg{
    background-position: center center;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
    padding: 60px 0 80px;
    @include pad(){
        padding: 40px 0 56px;
    }
    @include mobile(){
        padding: 32px 0 40px;
    }
    .title{
        color: #fff;
    }
    .joint-design{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .joint-item{
        position: relative;
        width: 49%;
    }
    .joint-item::before{
        content: "";
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255 , 255 , 255 , 0.5);
    }
    .joint-title{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #AA0601;
        font-family: 'Roboto';
        line-height: 95px;
        font-size: 72px;
        font-weight: 700;
        white-space: nowrap;
    }
    @include pad(){
        .joint-design{
            margin-top: 32px;
        }
        .joint-title{
            font-size: 32px;
            line-height: 43px;
        }
    }
    @include mobile(){
        .joint-design{
            flex-direction: column;
            margin-top: 20px;
        }
        .joint-item{
            width: 100%;
            :first-child{
                margin-bottom: 16px;
            }
        }
        .joint-item::before{
            display: none;
        }
    }
}
// 顧客推薦
.customer-bg{
    padding: 60px 0 80px;
    @include pad(){
        padding: 40px 0 56px;
    }
    @include mobile(){
        padding: 32px 0 40px;
    }
    .customer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }
    .customer-item{
        width: 23%;
    }
    .customer-img{
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
    .customer-body{
        border-radius: 0 0 5px 5px;
    }
    .customer-body{
        padding: 14px 16px;
        border: 1px solid #DEE2E6;
        font-family: 'Roboto';
    }
    .customer-title{
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 7px;
    }
    .message{
        margin-bottom: 10px;
    }
    .date{
        font-size: 14px;
        color: #707070;
    }
    @include pad(){
        .customer{
            margin-top: 32px;
        }
        .customer-item{
            width: 45%;
            margin-bottom: 32px;
        }
    }
    @include mobile(){
        .customer{
            margin-top: 20px;
        }
        .customer-item{
            width: 100%;
            margin-bottom: 16px;
        }
    }
}
// 聯絡表單
.contact-bg{
    background-color: #AA06010D;
    padding: 60px 0 80px;
    @include pad(){
        padding: 40px 0 56px;
    }
    @include mobile(){
        padding: 32px 0 40px;
    }
    .title{
        color: #000;
    }
    .contact-form{
        width: 60%;
        margin: 24px auto 0;
    }
    .contact-text{
        margin-bottom: 20px;
    }
    .contact-box{
        margin-bottom: 16px;
    }
    .contact-input{
        display: block;
        width: 100%;
        border:1px solid #000;
        height: 50px;
        padding: 20px;
        color: #000000;
        font-size: 15px;
        font-weight: 600;
        background-color: #AA06010D;
    }
    .input-textarea{
        height: 136px;
    }
    .checkbox-box{
        margin-bottom: 40px;
    }
    .subimt{
        display: block;
        width: 70%;
        border:none;
        padding: 16px 0;
        font-weight: 700;
        margin: 0 auto;
        cursor: pointer;
        color: #fff;
        background-color: #AA0601;
    }
    .subimt:hover{
        background-color: #ce5a56;
    }
    @include pad(){
        .contact-form{
            width: 80%;
        }
        .contact-input{
            height: 36px;
        }
        .input-textarea{
            height: 120px;
        }
        .subimt{
            width: 60%;
        }
    }
    @include mobile(){
        .contact-form{
            width: 100%;
        }
        .input-textarea{
            height: 100px;
        }
    }
}