// 三點功能
.product-nav{
    &-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-item{
        width: calc(100% / 3);
        border: 1px solid #DCDCDC;
    }
    &-link{
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 32px;
        line-height: 80px;  
        justify-content: center;
        color: #000;
        padding-top: 8px;
        border-bottom: 8px solid transparent;
    }
    &-link:hover{
        border-bottom: 8px solid #AA0601;
    }
    &-icon{
        width: 40px;
        margin-right: 10px;
    }
    @include pad(){
        &-link{
            font-size: 24px;
            line-height: 40px;
            padding-top: 4px;
            border-bottom: 4px solid transparent;
        }
        &-link:hover{
            border-bottom: 4px solid #AA0601;
        }
        &-icon{
            width: 30px;
        }
    }
    @include mobile(){
        &-link{
            font-size: 14px;
            line-height: 20px;
        }
        &-icon{
            width: 14px;
            margin-right: 5px;
        }
    }
}
.functional{
    width: 30px;
}
@include pad(){
    .functional{
        width: 20px;
    }
}
@include mobile(){
    .functional{
        width: 10px;
    }
}