//產品列表
.product2-item{
    width: calc(100% / 3 - 2%);
    margin: 0 1% 104px;
}
@include pad(){
    .product-other-item{
        width: calc(100% / 2 - 2%);
        margin-bottom: 72px;
    }
}
@include mobile(){
    .product-other-item{
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;
        margin-left: 0;
    }
}
// 頁碼
.pagination-other-bg{
    display: none;
}
@include mobile(){
    .pagination-other-bg{
        display: block;
    }
    .pagination-other-bg{
        .pagination-other{
            display: flex;
            justify-content: center;
        }
        .pagination-other-link{
            font-size: 17px;
            line-height: 20px;
            padding: 6px 10px;
            border: 1px solid #555555;
        }
        .pagination-other-link:hover{
            color: #fff;
            background-color: #000;
        }
        .active{
            color: #fff;
            background-color: #000;
        }
        .next{
            background-color: #F2F2F2;
        }
    }
}