// 門市據點
.store2-bg{
    .store2-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // 間距
    .store2-ml-img{
        margin-left: 3px;
    }
    .store2-ml{
        margin-left: 8px;
    }
    padding: 32px 0 160px;
    @include pad(){
        padding: 24px 0 96px;
    }
    @include mobile(){
        padding: 20px 0 56px;
    }
    .store2-card{
        display: flex;
        flex-wrap: wrap;
    }
    .store2-item{
        width: 100%;
        margin-right: 30px;
        margin-bottom: 2%;
    }
    .store2-img{
        width: 100%;
    }
    .store2-img-h{
        height: 232.5px;
    }
    .store2-title{
        border:1px solid #00000020;
        font-size: 24px;
        line-height: 36px;
        padding: 12px 0 12px 24px;
    }
    .store2-list{
        border:1px solid #00000020;
        padding: 16px 26px;
    }
    .store2-tel{
        color: #000;
    }
    .store2-info{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    .store2-icon{
        width: 20px;
    }
    .store2-text{
        font-size: 20px;
        line-height: 30px;
    }
    .iframe2{
        display: none;
    }
    @include pad(){
        .store2-body{
            flex-direction: column;
        }
        .store2-card{
            margin-bottom: 30px;
        }
        .store2-item{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .store2-img{
            width: calc(100% / 2);
        }
        .store2-title{
            font-size: 16px;
            line-height: 24px;
            padding: 8px 0 8px 16px;
        }
        .store2-list{
            border:1px solid #00000020;
            padding: 16px 26px;
        }
        .store2-icon{
            width: 16px;
        }
        .store2-text{
            font-size: 14px;
            line-height: 21px;
        }
    }
    @include mobile(){
        .store2-item{
            flex-direction: column;
        }
        .store2-img{
            width: 100%;
        }
        .store2-list{
            width: 345px;
        }
        .iframe{
            display: none;
        }
        .iframe2{
            display: block;
        }
    }
}
