// 標題區塊
.head-bg{
    padding: 96px 0 65px;
    @include pad(){
        padding: 60px 0 40px;
    }
    @include mobile(){
        padding: 28px 0 24px;
    }
    .heading{
        font-size: 48px;
        font-weight: 700;
        line-height: 70px;
        border-left: 8px solid #9F1213;
        padding-left: 10px;
    }
    @include pad(){
        .heading{
            border-left: 4px solid #9F1213;
            line-height: 67px;
        }
    }
    @include mobile(){
        .heading{
            font-size: 28px;
            line-height: 40px;
        }
    }
}
// 下拉選單
.dropdown-bg{
    .dropdown-label{
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        vertical-align: middle;
    }
    .dropdown-control{
        width: 325px;
        height: 45px; 
        border: 1px solid #CED4DA;
        font-size: 18px;
        line-height: 25px;
        color: #495057;
        vertical-align: middle;
        margin-left: 20px;
    }
    @include pad(){
        .dropdown-label,.dropdown-control{
            font-size: 16px;
            line-height: 22px;
        }
        .dropdown-control{
            width: 237px;
            height: 46px;
        }
    }
    @include mobile(){
        .dropdown-form{
            display: flex;
            align-items: center;
        }
        .dropdown-label,.dropdown-control{
            font-size: 14px;
            line-height: 20px;
        }
        .dropdown-control{
            width: 277px;
            height: 36px;
            margin-left: 12px;
        }
    }
}
// 門市據點
.store-bg{
    // 間距
    .store-ml{
        margin-left: 8px;
    }
    padding: 32px 0 160px;
    @include pad(){
        padding: 24px 0 96px;
    }
    @include mobile(){
        padding: 20px 0 56px;
    }
    .store-card{
        display: flex;
        flex-wrap: wrap;
    }
    .store-item{
        width: calc(100% / 3 - 2% );
        margin: 0 1% 2%;
    }
    .store-img{
        width: 100%;
    }
    .store-img-h{
        height: 232.5px;
    }
    .store-title{
        border:1px solid #00000020;
        font-size: 24px;
        line-height: 36px;
        padding: 12px 0 12px 24px;
    }
    .store-list{
        border:1px solid #00000020;
        padding: 16px 26px;
    }
    .store-info{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    .icon-address{
        margin-left: 3px;
    }
    .address{
        align-items: flex-start;
    }
    .store-tel{
        color: #000;
    }
    .store-text{
        font-size: 20px;
        line-height: 30px;
    }
    .info-btn{
        display: block;
        color: #fff;
        background-color: #000;
        text-align: center;
        padding: 20px 0;
    }
    .info-btn:hover{
        background-color: rgb(180, 180, 180);
    }
    @include pad(){
        .store-item{
            width: calc(100% / 2 - 2% );
        }
        .store-title{
            font-size: 20px;
            line-height: 30px;
        }
        .store-text{
            font-size: 14px;
            line-height: 21px;
        }
        .store-icon{
            width: 16px;
        }
        .icon-address{
            margin: 0;
        }
        .info-btn{
            font-size: 14px;
            line-height: 20px;
        }
    }
    @include mobile(){
        .store-item{
            width: 100%;
        }
        .store-title{
            font-size: 16px;
            line-height: 18px;
        }
    }
}