/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    max-width: 690px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 345px;
  }
}

body {
  font-family: 'Noto Sans','Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header {
  padding: 0 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #AA0601;
}

.header .logo {
  display: block;
  width: 80px;
  height: 48px;
  background-size: cover;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.header .menu .nav-link {
  display: block;
  line-height: 28px;
  padding: 28px 40px;
  color: #fff;
  font-size: 20px;
}

.header .menu .nav-link:hover {
  color: #AA0601;
  background-color: #ce5a56;
}

@media (max-width: 992px) {
  .header {
    padding: 14px 39px;
  }
  .header .menu {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .logo {
    width: 48px;
    height: 29px;
    margin: 10px 0;
  }
  .header .menu {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .header .nav-item {
    width: 50%;
    border: 1px solid #fff;
  }
}

.footer {
  padding: 30px 0;
  background-color: #AA0601;
}

.footer .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-menu {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.footer .footer-menu .footer-link {
  display: block;
  color: #fff;
  line-height: 22px;
  padding-right: 48px;
}

.footer .footer-menu .footer-link:hover {
  opacity: 0.5;
}

.footer .contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.footer .contact .contact-icon {
  width: 44px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.footer .contact .contact-link {
  display: block;
  font-family: 'Roboto';
  color: #fff;
  font-size: 36px;
  line-height: 48px;
}

.footer .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .sns .sns-item {
  margin-right: 32px;
}

.footer .sns .sns-item:nth-last-child(1) {
  margin-right: 0;
}

.footer .sns .sns-link {
  display: block;
}

.footer .sns .sns-link:hover {
  opacity: 0.5;
}

@media (max-width: 992px) {
  .footer .footer-menu {
    margin-bottom: 26px;
  }
  .footer .footer-menu .footer-link {
    padding-right: 40px;
  }
  .footer .contact {
    margin-bottom: 8px;
  }
  .footer .contact .contact-icon {
    width: 24px;
    margin-right: 12px;
  }
  .footer .contact .contact-link {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .footer .footer-menu {
    display: none;
  }
  .footer .contact .contact-icon {
    width: 20px;
  }
  .footer .contact .contact-link {
    font-size: 16px;
    line-height: 21px;
  }
  .footer .sns .sns-item {
    margin-right: 24px;
  }
  .footer .sns .sns-icon {
    width: 24px;
  }
}

.footer .footer-info {
  padding-top: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-info .footer-text {
  font-family: 'Roboto';
  line-height: 21px;
}

.footer .footer-info .contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-info .contract-item {
  margin-right: 62px;
}

.footer .footer-info .contract-item:nth-last-child(1) {
  margin-right: 0;
}

.footer .footer-info .contract-link {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 992px) {
  .footer .contract-item {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .footer .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-info .footer-text {
    margin-bottom: 10px;
  }
  .footer .footer-info .contract {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-info .contract-item {
    width: 50%;
    margin-bottom: 10px;
  }
}

.product-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-nav .product-item {
  width: calc(100% / 3);
  border: 1px solid #DCDCDC;
}

.product-nav .product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 32px;
  line-height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  padding-top: 8px;
  border-bottom: 8px solid transparent;
}

.product-nav .product-link:hover {
  border-bottom: 8px solid #AA0601;
}

.product-nav .product-icon {
  width: 40px;
  margin-right: 10px;
}

.product-nav .functional {
  width: 30px;
}

@media (max-width: 992px) {
  .product-nav .product-link {
    font-size: 24px;
    line-height: 40px;
    padding-top: 4px;
    border-bottom: 4px solid transparent;
  }
  .product-nav .product-link:hover {
    border-bottom: 4px solid #AA0601;
  }
  .product-nav .product-icon {
    width: 30px;
  }
  .product-nav .functional {
    width: 20px;
  }
}

@media (max-width: 767px) {
  .product-nav .product-link {
    font-size: 14px;
    line-height: 20px;
  }
  .product-nav .product-icon {
    width: 14px;
    margin-right: 5px;
  }
  .product-nav .functional {
    width: 10px;
  }
}

.title {
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  text-align: center;
  color: #650300;
}

@media (max-width: 992px) {
  .title {
    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 24px;
    line-height: 33px;
  }
}

.content {
  height: 840px;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
}

.content .promise-desert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 308px 407px 0 0;
  color: #650300;
}

.content .content-box {
  text-align: right;
}

.content .content-subtitle {
  font-size: 36px;
  line-height: 50px;
}

.content .content-subtitle2 {
  font-size: 64px;
  line-height: 90px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .content {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png);
  }
  .content .promise-desert {
    padding: 372px 38.5px 0 0;
  }
  .content .content-subtitle {
    font-size: 20px;
    line-height: 39px;
  }
  .content .content-subtitle2 {
    font-size: 48px;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .content {
    height: 394px;
  }
  .content .promise-desert {
    padding: 164px 15px 0 0;
  }
  .content .content-subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .content .content-subtitle2 {
    font-size: 32px;
    line-height: 45px;
  }
}

.service-bg {
  padding: 60px 0 80px;
  background-color: #AA06010D;
}

@media (max-width: 992px) {
  .service-bg {
    padding: 40px 0 56px;
  }
}

@media (max-width: 767px) {
  .service-bg {
    padding: 32px 0 40px;
  }
}

.service-bg .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.service-bg .service-item {
  width: 20%;
}

.service-bg .service-icon {
  margin: 0 auto 40px auto;
}

.service-bg .service-title {
  text-align: center;
  color: #650300;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 4px;
}

@media (max-width: 992px) {
  .service-bg .service-item {
    width: 35%;
    margin-bottom: 40px;
  }
  .service-bg .service-icon {
    margin: 0 auto 16px auto;
  }
  .service-bg .service-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .service-bg .service {
    margin-top: 20px;
  }
  .service-bg .service-item {
    width: 90%;
  }
}

.classic-bg {
  padding: 60px 0 80px;
}

.classic-bg .ml-lg {
  margin-left: 32px;
}

.classic-bg .mr-lg {
  margin-right: 32px;
}

@media (max-width: 992px) {
  .classic-bg .mr-lg {
    margin-right: 0;
  }
  .classic-bg .ml-lg2 {
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .classic-bg .ml-lg {
    margin-left: 0;
  }
  .classic-bg .mr-lg {
    margin-right: 0;
  }
  .classic-bg .ml-lg2 {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .classic-bg {
    padding: 40px 0 56px;
  }
}

@media (max-width: 767px) {
  .classic-bg {
    padding: 32px 0 40px;
  }
}

.classic-bg .classic {
  margin-top: 40px;
}

@media (max-width: 992px) {
  .classic-bg .classic {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .classic-bg .classic {
    margin-top: 20px;
  }
}

.classic-bg .classic .classic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.classic-bg .classic .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.classic-bg .classic .classic-img {
  width: 60%;
}

.classic-bg .classic .classic-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  line-height: 63px;
  color: #AA0601;
}

.classic-bg .classic .classic-icon {
  width: 48px;
  margin-right: 8px;
}

.classic-bg .classic .classic-mobileicon {
  display: none;
}

@media (max-width: 992px) {
  .classic-bg .classic .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .classic-bg .classic .classic-box {
    font-size: 28px;
    line-height: 37px;
  }
  .classic-bg .classic .classic-icon {
    width: 32px;
  }
}

@media (max-width: 767px) {
  .classic-bg .classic .classic-item {
    position: relative;
  }
  .classic-bg .classic .classic-img {
    width: 100%;
    margin: 0 auto;
  }
  .classic-bg .classic .classic-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .classic-bg .classic .classic-icon {
    display: none;
  }
  .classic-bg .classic .classic-mobileicon {
    display: block;
    width: 32px;
    margin-right: 8px;
  }
}

.joint-bg {
  background-position: center center;
  background-size: cover;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
  padding: 60px 0 80px;
}

@media (max-width: 992px) {
  .joint-bg {
    padding: 40px 0 56px;
  }
}

@media (max-width: 767px) {
  .joint-bg {
    padding: 32px 0 40px;
  }
}

.joint-bg .title {
  color: #fff;
}

.joint-bg .joint-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.joint-bg .joint-item {
  position: relative;
  width: 49%;
}

.joint-bg .joint-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.joint-bg .joint-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #AA0601;
  font-family: 'Roboto';
  line-height: 95px;
  font-size: 72px;
  font-weight: 700;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .joint-bg .joint-design {
    margin-top: 32px;
  }
  .joint-bg .joint-title {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 767px) {
  .joint-bg .joint-design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .joint-bg .joint-item {
    width: 100%;
  }
  .joint-bg .joint-item :first-child {
    margin-bottom: 16px;
  }
  .joint-bg .joint-item::before {
    display: none;
  }
}

.customer-bg {
  padding: 60px 0 80px;
}

@media (max-width: 992px) {
  .customer-bg {
    padding: 40px 0 56px;
  }
}

@media (max-width: 767px) {
  .customer-bg {
    padding: 32px 0 40px;
  }
}

.customer-bg .customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.customer-bg .customer-item {
  width: 23%;
}

.customer-bg .customer-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.customer-bg .customer-body {
  border-radius: 0 0 5px 5px;
}

.customer-bg .customer-body {
  padding: 14px 16px;
  border: 1px solid #DEE2E6;
  font-family: 'Roboto';
}

.customer-bg .customer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 7px;
}

.customer-bg .message {
  margin-bottom: 10px;
}

.customer-bg .date {
  font-size: 14px;
  color: #707070;
}

@media (max-width: 992px) {
  .customer-bg .customer {
    margin-top: 32px;
  }
  .customer-bg .customer-item {
    width: 45%;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .customer-bg .customer {
    margin-top: 20px;
  }
  .customer-bg .customer-item {
    width: 100%;
    margin-bottom: 16px;
  }
}

.contact-bg {
  background-color: #AA06010D;
  padding: 60px 0 80px;
}

@media (max-width: 992px) {
  .contact-bg {
    padding: 40px 0 56px;
  }
}

@media (max-width: 767px) {
  .contact-bg {
    padding: 32px 0 40px;
  }
}

.contact-bg .title {
  color: #000;
}

.contact-bg .contact-form {
  width: 60%;
  margin: 24px auto 0;
}

.contact-bg .contact-text {
  margin-bottom: 20px;
}

.contact-bg .contact-box {
  margin-bottom: 16px;
}

.contact-bg .contact-input {
  display: block;
  width: 100%;
  border: 1px solid #000;
  height: 50px;
  padding: 20px;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  background-color: #AA06010D;
}

.contact-bg .input-textarea {
  height: 136px;
}

.contact-bg .checkbox-box {
  margin-bottom: 40px;
}

.contact-bg .subimt {
  display: block;
  width: 70%;
  border: none;
  padding: 16px 0;
  font-weight: 700;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  background-color: #AA0601;
}

.contact-bg .subimt:hover {
  background-color: #ce5a56;
}

@media (max-width: 992px) {
  .contact-bg .contact-form {
    width: 80%;
  }
  .contact-bg .contact-input {
    height: 36px;
  }
  .contact-bg .input-textarea {
    height: 120px;
  }
  .contact-bg .subimt {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .contact-bg .contact-form {
    width: 100%;
  }
  .contact-bg .input-textarea {
    height: 100px;
  }
}

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-banner .banner-glasses {
  width: calc(100% / 2);
}

.product-bg {
  padding: 80px 0 160px;
}

@media (max-width: 992px) {
  .product-bg {
    padding: 56px 0 96px;
  }
}

@media (max-width: 767px) {
  .product-bg {
    padding: 32px 0 56px;
  }
}

.product-bg .caption {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
  text-align: center;
}

.product-bg .caption-tw {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

@media (max-width: 992px) {
  .product-bg .caption {
    font-size: 32px;
    line-height: 43px;
  }
  .product-bg .caption-tw {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .product-bg .caption {
    font-size: 20px;
    line-height: 23px;
  }
  .product-bg .caption-tw {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-bg .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.product-bg .product-item {
  width: calc(100% / 4 - 2%);
  margin: 0 1% 104px;
}

.product-bg .product-img {
  width: 100%;
  height: 164px;
}

.product-bg .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-bg .name, .product-bg .price {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 36px;
}

.product-bg .price {
  color: #AA0601;
  font-weight: 600;
}

.product-bg .color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-bg .color-item {
  margin-right: 8px;
}

.product-bg .color-link {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 4px;
}

.product-bg .deep {
  background-color: #5F3E2D;
}

.product-bg .light {
  background-color: #B75929;
}

@media (max-width: 992px) {
  .product-bg .product-list {
    margin-top: 32px;
  }
  .product-bg .product-item {
    width: calc(100% / 2 - 2%);
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .product-bg .product-list {
    margin-top: 20px;
  }
  .product-bg .product-item {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: 0;
  }
  .product-bg .name, .product-bg .price {
    font-size: 16px;
    line-height: 26px;
  }
  .product-bg .color-link {
    width: 16px;
    height: 16px;
  }
}

.product-bg .pagination-bg .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-bg .pagination-bg .pagination-link {
  font-size: 19px;
  line-height: 24px;
  padding: 12px 16px;
  border: 1px solid #555555;
}

.product-bg .pagination-bg .pagination-link:hover {
  color: #fff;
  background-color: #000;
}

.product-bg .pagination-bg .active {
  color: #fff;
  background-color: #000;
}

.product-bg .pagination-bg .next {
  background-color: #F2F2F2;
}

@media (max-width: 767px) {
  .product-bg .pagination-bg .pagination-link {
    font-size: 17px;
    line-height: 20px;
  }
}

.product2-item {
  width: calc(100% / 3 - 2%);
  margin: 0 1% 104px;
}

@media (max-width: 992px) {
  .product2-item {
    width: calc(100% / 2 - 2%);
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .product2-item {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: 0;
  }
}

.pagination2-bg {
  display: none;
}

@media (max-width: 767px) {
  .pagination2-bg {
    display: block;
  }
  .pagination2-bg .pagination2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pagination2-bg .pagination2-link {
    font-size: 17px;
    line-height: 20px;
    padding: 12px 16px;
    border: 1px solid #555555;
  }
  .pagination2-bg .pagination2-link:hover {
    color: #fff;
    background-color: #000;
  }
  .pagination2-bg .active {
    color: #fff;
    background-color: #000;
  }
  .pagination2-bg .next {
    background-color: #F2F2F2;
  }
}

.breadcrumb-bg {
  background-color: #650300;
}

.breadcrumb-bg .breadcrumb-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb-bg .breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-bg .breadcrumb-item {
  margin-right: 48px;
}

.breadcrumb-bg .breadcrumb-link {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}

.breadcrumb-bg .breadcrumb-link:hover {
  opacity: 0.5;
}

@media (max-width: 992px) {
  .breadcrumb-bg .breadcrumb-link {
    font-size: 16px;
    line-height: 54px;
  }
}

@media (max-width: 767px) {
  .breadcrumb-bg {
    display: none;
  }
}

.blog-bg {
  padding-bottom: 160px;
}

@media (max-width: 992px) {
  .blog-bg {
    padding-bottom: 96px;
  }
}

@media (max-width: 767px) {
  .blog-bg {
    padding-bottom: 56px;
  }
}

.blog-list .blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.blog-list .blog-img {
  width: 100%;
  margin-right: 30px;
}

.blog-list .article-title {
  font-size: 32px;
  line-height: 45px;
  color: #650300;
  font-weight: 700;
}

.blog-list .article-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-list .article-category, .blog-list .article-date, .blog-list .article-textlink {
  font-family: 'Roboto';
}

.blog-list .article-category {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.blog-list .article-date {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.7;
}

.blog-list .article-text {
  margin-top: 24px;
}

.blog-list .article-textlink {
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}

.blog-list .article-morelink {
  display: block;
  font-size: 36px;
  line-height: 54px;
  font-weight: 800;
  color: #650300;
  text-align: right;
}

.blog-list .article-morelink:hover {
  opacity: 0.5;
}

@media (max-width: 992px) {
  .blog-list .blog-item {
    position: relative;
    margin-bottom: 24px;
  }
  .blog-list .blog-img {
    width: calc(100% / 2 - 30px);
    height: 215px;
  }
  .blog-list .article-title {
    font-size: 20px;
    line-height: 24px;
  }
  .blog-list .article-category {
    font-size: 16px;
    line-height: 30px;
  }
  .blog-list .article-date {
    font-size: 14px;
  }
  .blog-list .article-text {
    margin-top: 0;
  }
  .blog-list .article-textlink, .blog-list .article-morelink {
    font-size: 14px;
    line-height: 21px;
  }
  .blog-list .article-morelink {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #555555;
  }
}

@media (max-width: 767px) {
  .blog-list .blog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .blog-list .blog-img {
    width: 100%;
  }
  .blog-list .article-title {
    font-size: 16px;
    line-height: 30px;
  }
  .blog-list .article-category {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-list .article-date {
    font-size: 14px;
    line-height: 24px;
  }
  .blog-list .article-text, .blog-list .article-morelink {
    display: none;
  }
}

.pagination-bg .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-bg .pagination-link {
  color: #555555;
  font-size: 19px;
  line-height: 24px;
  padding: 12px 16px;
  border: 1px solid #555555;
}

.pagination-bg .pagination-link:hover {
  color: #fff;
  background-color: #000;
}

.pagination-bg .active {
  color: #fff;
  background-color: #000;
}

.pagination-bg .next {
  background-color: #F2F2F2;
}

@media (max-width: 767px) {
  .pagination-bg .pagination-link {
    font-size: 17px;
    line-height: 20px;
  }
}

.head-bg {
  padding: 96px 0 65px;
}

@media (max-width: 992px) {
  .head-bg {
    padding: 60px 0 40px;
  }
}

@media (max-width: 767px) {
  .head-bg {
    padding: 28px 0 24px;
  }
}

.head-bg .heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  border-left: 8px solid #9F1213;
  padding-left: 10px;
}

@media (max-width: 992px) {
  .head-bg .heading {
    border-left: 4px solid #9F1213;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .head-bg .heading {
    font-size: 28px;
    line-height: 40px;
  }
}

.dropdown-bg .dropdown-label {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  vertical-align: middle;
}

.dropdown-bg .dropdown-control {
  width: 325px;
  height: 45px;
  border: 1px solid #CED4DA;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
  vertical-align: middle;
  margin-left: 20px;
}

@media (max-width: 992px) {
  .dropdown-bg .dropdown-label, .dropdown-bg .dropdown-control {
    font-size: 16px;
    line-height: 22px;
  }
  .dropdown-bg .dropdown-control {
    width: 237px;
    height: 46px;
  }
}

@media (max-width: 767px) {
  .dropdown-bg .dropdown-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown-bg .dropdown-label, .dropdown-bg .dropdown-control {
    font-size: 14px;
    line-height: 20px;
  }
  .dropdown-bg .dropdown-control {
    width: 277px;
    height: 36px;
    margin-left: 12px;
  }
}

.store-bg {
  padding: 32px 0 160px;
}

.store-bg .store-ml {
  margin-left: 8px;
}

@media (max-width: 992px) {
  .store-bg {
    padding: 24px 0 96px;
  }
}

@media (max-width: 767px) {
  .store-bg {
    padding: 20px 0 56px;
  }
}

.store-bg .store-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store-bg .store-item {
  width: calc(100% / 3 - 2%);
  margin: 0 1% 2%;
}

.store-bg .store-img {
  width: 100%;
}

.store-bg .store-img-h {
  height: 232.5px;
}

.store-bg .store-title {
  border: 1px solid #00000020;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 0 12px 24px;
}

.store-bg .store-list {
  border: 1px solid #00000020;
  padding: 16px 26px;
}

.store-bg .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.store-bg .icon-address {
  margin-left: 3px;
}

.store-bg .address {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.store-bg .store-tel {
  color: #000;
}

.store-bg .store-text {
  font-size: 20px;
  line-height: 30px;
}

.store-bg .info-btn {
  display: block;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 20px 0;
}

.store-bg .info-btn:hover {
  background-color: #b4b4b4;
}

@media (max-width: 992px) {
  .store-bg .store-item {
    width: calc(100% / 2 - 2%);
  }
  .store-bg .store-title {
    font-size: 20px;
    line-height: 30px;
  }
  .store-bg .store-text {
    font-size: 14px;
    line-height: 21px;
  }
  .store-bg .store-icon {
    width: 16px;
  }
  .store-bg .icon-address {
    margin: 0;
  }
  .store-bg .info-btn {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .store-bg .store-item {
    width: 100%;
  }
  .store-bg .store-title {
    font-size: 16px;
    line-height: 18px;
  }
}

.store2-bg {
  padding: 32px 0 160px;
}

.store2-bg .store2-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.store2-bg .store2-ml-img {
  margin-left: 3px;
}

.store2-bg .store2-ml {
  margin-left: 8px;
}

@media (max-width: 992px) {
  .store2-bg {
    padding: 24px 0 96px;
  }
}

@media (max-width: 767px) {
  .store2-bg {
    padding: 20px 0 56px;
  }
}

.store2-bg .store2-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.store2-bg .store2-item {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 2%;
}

.store2-bg .store2-img {
  width: 100%;
}

.store2-bg .store2-img-h {
  height: 232.5px;
}

.store2-bg .store2-title {
  border: 1px solid #00000020;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 0 12px 24px;
}

.store2-bg .store2-list {
  border: 1px solid #00000020;
  padding: 16px 26px;
}

.store2-bg .store2-tel {
  color: #000;
}

.store2-bg .store2-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.store2-bg .store2-icon {
  width: 20px;
}

.store2-bg .store2-text {
  font-size: 20px;
  line-height: 30px;
}

.store2-bg .iframe2 {
  display: none;
}

@media (max-width: 992px) {
  .store2-bg .store2-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store2-bg .store2-card {
    margin-bottom: 30px;
  }
  .store2-bg .store2-item {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .store2-bg .store2-img {
    width: calc(100% / 2);
  }
  .store2-bg .store2-title {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0 8px 16px;
  }
  .store2-bg .store2-list {
    border: 1px solid #00000020;
    padding: 16px 26px;
  }
  .store2-bg .store2-icon {
    width: 16px;
  }
  .store2-bg .store2-text {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .store2-bg .store2-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store2-bg .store2-img {
    width: 100%;
  }
  .store2-bg .store2-list {
    width: 345px;
  }
  .store2-bg .iframe {
    display: none;
  }
  .store2-bg .iframe2 {
    display: block;
  }
}

.head-bg {
  padding: 96px 0 65px;
}

@media (max-width: 992px) {
  .head-bg {
    padding: 60px 0 40px;
  }
}

@media (max-width: 767px) {
  .head-bg {
    padding: 28px 0 24px;
  }
}

.head-bg .heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  border-left: 8px solid #9F1213;
  padding-left: 10px;
}

@media (max-width: 992px) {
  .head-bg .heading {
    border-left: 4px solid #9F1213;
    line-height: 67px;
  }
}

@media (max-width: 767px) {
  .head-bg .heading {
    font-size: 28px;
    line-height: 40px;
  }
}

.qa-bg {
  padding-bottom: 160px;
}

@media (max-width: 992px) {
  .qa-bg {
    padding-bottom: 96px;
  }
}

@media (max-width: 767px) {
  .qa-bg {
    padding-bottom: 56px;
  }
}

.qa-bg .qa {
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
}

.qa-bg .know {
  margin-top: 36px;
}

.qa-bg .qa-example {
  margin-bottom: 32px;
}

.qa-bg .q {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.qa-bg .a {
  margin-left: 9%;
}

@media (max-width: 992px) {
  .qa-bg .a {
    margin-left: 8%;
  }
}

@media (max-width: 767px) {
  .qa-bg .qa {
    font-size: 20px;
    line-height: 35px;
  }
  .qa-bg .q {
    margin-bottom: 8px;
  }
  .qa-bg .a {
    margin-left: 0;
  }
}
/*# sourceMappingURL=all.css.map */