/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none; }

body {
  font-family: 'Noto Sans','Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }

.container {
  max-width: 1140px;
  width: 1110px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 345px; } }

.header {
  padding: 0 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #AA0601; }
  .header .logo {
    display: block;
    width: 80px;
    height: 48px;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png);
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .header .menu .nav-link {
      display: block;
      line-height: 28px;
      padding: 28px 30px;
      color: #fff;
      font-size: 20px; }
    .header .menu .nav-link:hover {
      color: #AA0601;
      background-color: #ce5a56; }
  @media (max-width: 992px) {
    .header {
      padding: 14px 10px; }
      .header .menu {
        padding-left: 20px;
        padding-right: 20px; }
      .header .logo {
        margin-left: 20px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header .logo {
        width: 48px;
        height: 29px;
        margin: 10px 0; }
      .header .menu {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; }
      .header .nav-item {
        width: 50%;
        border: 1px solid #fff; } }

.footer {
  padding: 30px 0;
  background-color: #AA0601; }

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-menu {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px; }

.footer-link {
  display: block;
  color: #fff;
  line-height: 22px;
  padding-right: 48px; }

.footer-link:hover {
  opacity: 0.5; }

@media (max-width: 992px) {
  .footer-menu {
    margin-bottom: 26px; }
  .footer-link {
    padding-right: 40px; } }

@media (max-width: 767px) {
  .footer-menu {
    display: none; } }

.footer-info {
  padding-top: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-text {
  font-family: 'Roboto';
  line-height: 21px; }

@media (max-width: 767px) {
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-text {
    margin-bottom: 10px; } }

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px; }

.contact-icon {
  width: 44px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px; }

.contact-link {
  display: block;
  font-family: 'Roboto';
  color: #fff;
  font-size: 36px;
  line-height: 48px; }

@media (max-width: 992px) {
  .contact {
    margin-bottom: 8px; }
  .contact-icon {
    width: 24px;
    margin-right: 12px; }
  .contact-link {
    font-size: 20px;
    line-height: 26px; } }

@media (max-width: 767px) {
  .contact-icon {
    width: 20px; }
  .contact-link {
    font-size: 16px;
    line-height: 21px; } }

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sns-item {
  margin-right: 32px; }

.sns-item:nth-last-child(1) {
  margin-right: 0; }

.sns-link {
  display: block; }

.sns-link:hover {
  opacity: 0.5; }

@media (max-width: 767px) {
  .sns-item {
    margin-right: 24px; }
  .sns-icon {
    width: 24px; } }

.contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contract-item {
  margin-right: 62px; }

.contract-item:nth-last-child(1) {
  margin-right: 0; }

.contract-link {
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 20px; }

@media (max-width: 992px) {
  .contract-item {
    margin-right: 24px; } }

@media (max-width: 767px) {
  .contract {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contract-item {
    width: 50%;
    margin-bottom: 10px; } }

.product-nav-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-nav-item {
  width: calc(100% / 3);
  border: 1px solid #DCDCDC; }

.product-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 32px;
  line-height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  padding-top: 8px;
  border-bottom: 8px solid transparent; }

.product-nav-link:hover {
  border-bottom: 8px solid #AA0601; }

.product-nav-icon {
  width: 40px;
  margin-right: 10px; }

@media (max-width: 992px) {
  .product-nav-link {
    font-size: 24px;
    line-height: 40px;
    padding-top: 4px;
    border-bottom: 4px solid transparent; }
  .product-nav-link:hover {
    border-bottom: 4px solid #AA0601; }
  .product-nav-icon {
    width: 30px; } }

@media (max-width: 767px) {
  .product-nav-link {
    font-size: 14px;
    line-height: 20px; }
  .product-nav-icon {
    width: 14px;
    margin-right: 5px; } }

.functional {
  width: 30px; }

@media (max-width: 992px) {
  .functional {
    width: 20px; } }

@media (max-width: 767px) {
  .functional {
    width: 10px; } }

.title {
  font-size: 48px;
  line-height: 67px;
  font-weight: 700;
  text-align: center;
  color: #650300; }
  @media (max-width: 992px) {
    .title {
      font-size: 32px;
      line-height: 45px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 24px;
      line-height: 33px; } }

.content {
  height: 840px;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png); }

.content-desert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 30%;
  color: #650300; }

.content-box {
  text-align: right; }

.content-subtitle {
  font-size: 36px;
  line-height: 50px; }

.content-bigtitle {
  font-size: 64px;
  line-height: 90px;
  font-weight: 700; }

@media (max-width: 992px) {
  .content {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png); }
  .content-desert {
    padding-top: 50%; }
  .content-subtitle {
    font-size: 20px;
    line-height: 39px; }
  .content-bigtitle {
    font-size: 48px;
    line-height: 67px; } }

@media (max-width: 767px) {
  .content {
    height: 394px; }
  .content-subtitle {
    font-size: 16px;
    line-height: 22px; }
  .content-bigtitle {
    font-size: 32px;
    line-height: 45px; } }

.service-bg {
  padding: 60px 0 80px;
  background-color: #AA06010D; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px; }

.service-item {
  width: 20%; }

.service-icon {
  margin: 0 auto 40px auto; }

.service-title {
  text-align: center;
  color: #650300;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 4px; }

@media (max-width: 992px) {
  .service-bg {
    padding: 40px 0 56px; }
  .service-item {
    width: 35%;
    margin-bottom: 40px; }
  .service-icon {
    margin: 0 auto 16px auto; }
  .service-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .service-bg {
    padding: 32px 0 40px; }
  .service {
    margin-top: 20px; }
  .service-item {
    width: 90%; } }

.ml-lg {
  margin-left: 32px; }

.mr-lg {
  margin-right: 32px; }

@media (max-width: 992px) {
  .mr-lg {
    margin-right: 0; }
  .ml-lg2 {
    margin-left: 32px; } }

@media (max-width: 767px) {
  .ml-lg {
    margin-left: 0; }
  .mr-lg {
    margin-right: 0; }
  .ml-lg2 {
    margin-left: 0; } }

.classic-bg {
  padding: 60px 0 80px; }

.classic {
  margin-top: 40px; }

.classic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px; }

.classic-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.classic-img {
  width: 60%; }

.classic-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-size: 48px;
  line-height: 63px;
  color: #AA0601; }

.classic-icon {
  width: 48px;
  margin-right: 8px; }

.classic-mobileicon {
  display: none; }

@media (max-width: 992px) {
  .classic-bg {
    padding: 40px 0 56px; }
  .classic {
    margin-top: 32px; }
  .classic-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .classic-box {
    font-size: 28px;
    line-height: 37px; }
  .classic-icon {
    width: 32px; } }

@media (max-width: 767px) {
  .classic-bg {
    padding: 32px 0 40px; }
  .classic {
    margin-top: 20px; }
  .classic-item {
    position: relative; }
  .classic-img {
    width: 100%;
    margin: 0 auto; }
  .classic-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .classic-icon {
    display: none; }
  .classic-mobileicon {
    display: block;
    width: 32px;
    margin-right: 8px; } }

.joint-bg {
  background-position: center center;
  background-size: cover;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
  padding: 60px 0 80px; }

.joint-white {
  color: #fff; }

.joint-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.joint-item {
  position: relative;
  width: 49%; }

.joint-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5); }

.joint-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #AA0601;
  font-family: 'Roboto';
  line-height: 95px;
  font-size: 72px;
  font-weight: 700;
  white-space: nowrap; }

@media (max-width: 992px) {
  .joint-bg {
    padding: 40px 0 56px; }
  .joint-design {
    margin-top: 32px; }
  .joint-title {
    font-size: 32px;
    line-height: 43px; } }

@media (max-width: 767px) {
  .joint-bg {
    padding: 32px 0 40px; }
  .joint-design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
  .joint-item {
    width: 100%; }
  .joint-item:first-child {
    margin-bottom: 16px; } }

.customer-bg {
  padding: 60px 0 0; }

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.customer-item {
  width: 255px;
  height: 460px; }

.customer-img {
  width: 100%;
  border-radius: 5px 5px 0 0; }

.customer-body {
  border-radius: 0 0 5px 5px; }

.customer-body {
  padding: 14px 16px;
  border: 1px solid #DEE2E6;
  font-family: 'Roboto'; }

.customer-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 7px; }

.customer-message {
  margin-bottom: 10px; }

.customer-date {
  font-size: 14px;
  color: #707070; }

@media (max-width: 992px) {
  .customer-bg {
    padding: 40px 0 56px; }
  .customer {
    margin-top: 32px; }
  .customer-item {
    width: 45%;
    height: 460px; }
  .customer-message-pb {
    padding-bottom: 8%; } }

@media (max-width: 767px) {
  .customer-bg {
    padding: 32px 0 40px; }
  .customer {
    margin-top: 20px; }
  .customer-item {
    width: 100%; }
  .customer-message-pb {
    padding-bottom: 0; } }

.contact-form-bg {
  background-color: #AA06010D;
  padding: 60px 0 80px; }

.contact-form-title {
  color: #000; }

.contact-form-form {
  width: 60%;
  margin: 24px auto 0; }

.contact-form-text {
  margin-bottom: 20px; }

.contact-form-box {
  margin-bottom: 16px; }

.contact-form-input {
  display: block;
  width: 100%;
  border: 1px solid #000;
  height: 50px;
  padding: 20px;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  background-color: #AA06010D; }

.contact-form-textarea {
  height: 136px; }

@media (max-width: 992px) {
  .contact-form-bg {
    padding: 40px 0 56px; }
  .contact-form {
    margin: 0 auto;
    width: 80%; }
  .contact-form-input {
    height: 36px; }
  .contact-form-textarea {
    height: 120px; } }

@media (max-width: 767px) {
  .contact-form-bg {
    padding: 32px 0 40px; }
  .contact-form {
    width: 100%; }
  .contact-form-textarea {
    height: 100px; } }

.checkbox-box {
  margin-bottom: 40px; }

.subimt {
  display: block;
  width: 70%;
  border: none;
  padding: 16px 0;
  font-weight: 700;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  background-color: #AA0601; }

.subimt:hover {
  background-color: #ce5a56; }

@media (max-width: 992px) {
  .subimt {
    width: 60%; } }

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-banner .banner-glasses {
    width: calc(100% / 2); }

.caption {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
  text-align: center; }

.caption-tw {
  font-size: 32px;
  line-height: 48px;
  text-align: center; }

@media (max-width: 992px) {
  .caption {
    font-size: 32px;
    line-height: 43px; }
  .caption-tw {
    font-size: 24px;
    line-height: 30px; } }

@media (max-width: 767px) {
  .caption {
    font-size: 20px;
    line-height: 23px; }
  .caption-tw {
    font-size: 16px;
    line-height: 20px; } }

.product-bg {
  padding: 80px 0 160px; }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px; }

.product-item {
  width: calc(100% / 4 - 2%);
  margin: 0 1% 104px; }

.product-img {
  width: 100%;
  height: 164px; }

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-name, .product-price {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 36px; }

.product-price {
  color: #AA0601;
  font-weight: 600; }

@media (max-width: 992px) {
  .product-bg {
    padding: 56px 0 96px; }
  .product-list {
    margin-top: 32px; }
  .product-item {
    width: calc(100% / 2 - 2%);
    margin-bottom: 72px; } }

@media (max-width: 767px) {
  .product-bg {
    padding: 32px 0 56px; }
  .product-list {
    margin-top: 20px; }
  .product-item {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: 0; }
  .product-name, .product-price {
    font-size: 16px;
    line-height: 26px; } }

.color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.color-item {
  margin-right: 8px; }

.color-link {
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 4px; }

.color-deep {
  background-color: #5F3E2D; }

.color-light {
  background-color: #B75929; }

@media (max-width: 767px) {
  .color-link {
    width: 16px;
    height: 16px; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pagination-link {
  font-size: 19px;
  line-height: 24px;
  padding: 12px 16px;
  border: 1px solid #555555; }

.pagination-link:hover {
  color: #fff;
  background-color: #000; }

@media (max-width: 767px) {
  .pagination-link {
    font-size: 17px;
    line-height: 20px;
    padding: 6px 10px; } }

.active {
  color: #fff;
  background-color: #000; }

.next {
  background-color: #F2F2F2; }

.product-other-item {
  width: calc(100% / 3 - 2%);
  margin: 0 1% 104px; }

@media (max-width: 992px) {
  .product-other-item {
    width: calc(100% / 2 - 2%);
    margin-bottom: 72px; } }

@media (max-width: 767px) {
  .product-other-item {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: 0; } }

.pagination-other-bg {
  display: none; }

@media (max-width: 767px) {
  .pagination-other-bg {
    display: block; }
  .pagination-other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .pagination-other-link {
    font-size: 17px;
    line-height: 20px;
    padding: 6px 10px;
    border: 1px solid #555555; }
  .pagination-other-link:hover {
    color: #fff;
    background-color: #000; } }

.breadcrumb-bg {
  background-color: #650300; }

.breadcrumb-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.breadcrumb-item {
  margin-right: 48px; }

.breadcrumb-link {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700; }

.breadcrumb-link:hover {
  opacity: 0.5; }

@media (max-width: 992px) {
  .breadcrumb-link {
    font-size: 16px;
    line-height: 54px; } }

@media (max-width: 767px) {
  .breadcrumb-bg {
    display: none; } }

.blog-bg {
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .blog-bg {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .blog-bg {
      padding-bottom: 56px; } }

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }

.blog-img {
  width: 100%;
  margin-right: 30px; }

@media (max-width: 992px) {
  .blog-item {
    position: relative;
    margin-bottom: 24px; }
  .blog-img {
    width: calc(100% / 2 - 30px);
    height: 215px; } }

@media (max-width: 767px) {
  .blog-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
  .blog-img {
    width: 100%; } }

.article-title {
  font-size: 32px;
  line-height: 45px;
  color: #650300;
  font-weight: 700; }

.article-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.article-category, .article-date, .article-textlink {
  font-family: 'Roboto'; }

.article-category {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600; }

.article-date {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.7; }

.article-text {
  margin-top: 24px; }

.article-textlink {
  font-size: 20px;
  line-height: 30px;
  color: #555555; }

.article-morelink {
  display: block;
  font-size: 36px;
  line-height: 54px;
  font-weight: 800;
  color: #650300;
  text-align: right; }

.article-morelink:hover {
  opacity: 0.5; }

@media (max-width: 992px) {
  .article-title {
    font-size: 20px;
    line-height: 24px; }
  .article-category {
    font-size: 16px;
    line-height: 30px; }
  .article-date {
    font-size: 14px; }
  .article-text {
    margin-top: 0; }
  .article-textlink, .article-morelink {
    font-size: 14px;
    line-height: 21px; }
  .article-morelink {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #555555; } }

@media (max-width: 767px) {
  .article-title {
    font-size: 16px;
    line-height: 30px; }
  .article-category {
    font-size: 14px;
    line-height: 20px; }
  .article-date {
    font-size: 14px;
    line-height: 24px; }
  .article-text, .article-morelink {
    display: none; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination-link {
    color: #555555;
    font-size: 19px;
    line-height: 24px;
    padding: 12px 16px;
    border: 1px solid #555555; }
  .pagination-link:hover {
    color: #fff;
    background-color: #000; }
  .pagination .active {
    color: #fff;
    background-color: #000; }
  .pagination .next {
    background-color: #F2F2F2; }
  @media (max-width: 767px) {
    .pagination-link {
      font-size: 17px;
      line-height: 20px;
      padding: 6px 10px; } }

.breadcrumb-plan-bg {
  background-color: #650300; }

.breadcrumb-plan-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumb-plan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.breadcrumb-plan-item {
  margin-right: 48px; }

.breadcrumb-plan-link {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700; }

.breadcrumb-plan-link:hover {
  opacity: 0.5; }

@media (max-width: 992px) {
  .breadcrumb-plan-link {
    font-size: 16px;
    line-height: 54px; } }

@media (max-width: 767px) {
  .breadcrumb-plan-item {
    margin-right: 16px; }
  .breadcrumb-plan-link {
    font-size: 16px;
    line-height: 48px; } }

@media (max-width: 767px) {
  .search-plan {
    display: none; } }

@media (max-width: 767px) {
  .project {
    padding-bottom: 56px; } }

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px; }

.project-link {
  text-decoration: none;
  color: #000; }

.project-link:last-child {
  color: #AA0601; }

@media (max-width: 992px) {
  .project-list {
    margin-top: 8px; }
  .project-link {
    font-size: 14px;
    line-height: 24px; } }

.project-keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px; }

.keyword-link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #AA0601; }

.keyword-link:first-child {
  margin-right: 10px; }

@media (max-width: 992px) {
  .project-keyword {
    margin-top: 0; }
  .keyword-link {
    font-size: 16px;
    line-height: 36px; } }

@media (max-width: 767px) {
  .keyword-link {
    font-size: 14px;
    line-height: 30px; } }

.article {
  width: 825px; }

.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.article-date {
  font-size: 16px;
  font-weight: normal; }

.article-img {
  max-width: 100%; }

.article-word {
  line-height: 1.5;
  padding: 24px 0; }

@media (max-width: 992px) {
  .article-date {
    font-size: 14px; }
  .article {
    width: 510px; } }

@media (max-width: 767px) {
  .article-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .article-img {
    width: 100%; }
  .article {
    width: 345px;
    margin-bottom: 20px; } }

.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 75px; }
  @media (max-width: 992px) {
    .heading .heading {
      font-size: 32px;
      line-height: 35px; } }
  @media (max-width: 767px) {
    .heading .heading {
      font-size: 20px;
      line-height: 26px;
      color: #650300; } }

.sub-standard {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .sub-standard .sub-standard {
      font-size: 16px;
      line-height: 40px; } }
  @media (max-width: 767px) {
    .sub-standard .sub-standard {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 20px; } }

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000; }

.share-box {
  width: 825px; }

.share-title {
  font-weight: bold;
  margin-right: 15px; }

.share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 992px) {
  .share-box {
    width: 700px; } }

@media (max-width: 767px) {
  .share-box {
    width: 345px; } }

.page-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px; }

.page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }

@media (max-width: 767px) {
  .page-go {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0; }
  .page-item {
    font-size: 14px; } }

.previous-icon, .next-icon {
  width: 16px;
  height: 16px; }

.previous-icon {
  margin-right: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.next-icon {
  margin-left: 5px; }

.side-tag {
  margin: 30px 0; }
  @media (max-width: 767px) {
    .side-tag .side-tag {
      margin: 0; } }

.tag-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AA0601;
  font-size: 28px;
  font-weight: bold; }

.tag-heading {
  margin-left: 10px; }

.tag-link {
  text-decoration: none;
  color: #AA0601;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  margin-left: 10px; }

@media (max-width: 992px) {
  .tag-title {
    font-size: 20px; }
  .tag-link {
    font-size: 16px; } }

@media (max-width: 767px) {
  .tag-title {
    margin-bottom: 10px; }
  .tag-heading {
    margin-left: 0; }
  .tag-icon {
    width: 25px; } }

.more-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.5; }

.head-bg {
  padding: 96px 0 65px; }
  @media (max-width: 992px) {
    .head-bg {
      padding: 60px 0 40px; } }
  @media (max-width: 767px) {
    .head-bg {
      padding: 28px 0 24px; } }
  .head-bg .heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    border-left: 8px solid #9F1213;
    padding-left: 10px; }
  @media (max-width: 992px) {
    .head-bg .heading {
      border-left: 4px solid #9F1213;
      line-height: 67px; } }
  @media (max-width: 767px) {
    .head-bg .heading {
      font-size: 28px;
      line-height: 40px; } }

.dropdown-label {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  vertical-align: middle; }

.dropdown-control {
  width: 325px;
  height: 45px;
  border: 1px solid #CED4DA;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
  vertical-align: middle;
  margin-left: 20px; }

@media (max-width: 992px) {
  .dropdown-label, .dropdown-control {
    font-size: 16px;
    line-height: 22px; }
  .dropdown-control {
    width: 237px;
    height: 46px; } }

@media (max-width: 767px) {
  .dropdown-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .dropdown-label, .dropdown-control {
    font-size: 14px;
    line-height: 20px; }
  .dropdown-control {
    width: 277px;
    height: 36px;
    margin-left: 12px; } }

.store-bg {
  padding: 32px 0 160px; }

@media (max-width: 992px) {
  .store {
    padding: 24px 0 96px; } }

@media (max-width: 767px) {
  .store {
    padding: 20px 0 56px; } }

.store-ml {
  margin-left: 8px; }

.store-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.store-item {
  width: calc(100% / 3 - 2%);
  margin: 0 1% 2%; }

.store-img {
  width: 100%; }

.store-img-h {
  height: 232.5px; }

.store-title {
  border: 1px solid #00000020;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 0 12px 24px; }

.store-list {
  border: 1px solid #00000020;
  padding: 16px 26px; }

.store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }

.store-tel {
  color: #000; }

.store-text {
  font-size: 20px;
  line-height: 30px; }

.store-address-icon {
  margin-left: 3px; }

.store-address {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.store-info-btn {
  display: block;
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 20px 0; }

.store-info-btn:hover {
  background-color: #b4b4b4; }

@media (max-width: 992px) {
  .store-item {
    width: calc(100% / 2 - 2%); }
  .store-title {
    font-size: 20px;
    line-height: 30px; }
  .store-text {
    font-size: 14px;
    line-height: 21px; }
  .store-icon {
    width: 16px; }
  .store-address {
    margin: 0; }
  .store-info-btn {
    font-size: 14px;
    line-height: 20px; } }

@media (max-width: 767px) {
  .store-item {
    width: 100%; }
  .store-title {
    font-size: 16px;
    line-height: 18px; } }

.store-detailed-bg {
  padding: 32px 0 160px; }

@media (max-width: 992px) {
  .store-detailed-bg {
    padding: 24px 0 96px; } }

@media (max-width: 767px) {
  .store-detailed-bg {
    padding: 20px 0 56px; } }

.store-detailed-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.store-detailed-ml-img {
  margin-left: 3px; }

.store-detailed-ml {
  margin-left: 8px; }

.store-detailed-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.store-detailed-item {
  width: 100%;
  margin-right: 30px;
  margin-bottom: 2%; }

.store-detailed-img {
  width: 100%; }

.store-detailed-img-h {
  height: 232.5px; }

.store-detailed-title {
  border: 1px solid #00000020;
  font-size: 24px;
  line-height: 36px;
  padding: 12px 0 12px 24px; }

.store-detailed-list {
  border: 1px solid #00000020;
  padding: 16px 26px; }

.store-detailed-tel {
  color: #000; }

.store-detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }

.store-detailed-icon {
  width: 20px; }

.store-detailed-text {
  font-size: 20px;
  line-height: 30px; }

@media (max-width: 992px) {
  .store-detailed-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .store-detailed-card {
    margin-bottom: 30px; }
  .store-detailed-item {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .store-detailed-img {
    width: calc(100% / 2); }
  .store-detailed-title {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0 8px 16px; }
  .store-detailed-list {
    border: 1px solid #00000020;
    padding: 16px 26px; }
  .store-detailed-icon {
    width: 16px; }
  .store-detailed-text {
    font-size: 14px;
    line-height: 21px; } }

@media (max-width: 767px) {
  .store-detailed-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .store-detailed-img {
    width: 100%; }
  .store-detailed-list {
    width: 345px; } }

.iframe-map {
  display: none; }

@media (max-width: 767px) {
  .iframe {
    display: none; }
  .iframe-map {
    display: block; } }

.head-bg {
  padding: 96px 0 65px; }
  @media (max-width: 992px) {
    .head-bg {
      padding: 60px 0 40px; } }
  @media (max-width: 767px) {
    .head-bg {
      padding: 28px 0 24px; } }
  .head-bg .heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    border-left: 8px solid #9F1213;
    padding-left: 10px; }
  @media (max-width: 992px) {
    .head-bg .heading {
      border-left: 4px solid #9F1213;
      line-height: 67px; } }
  @media (max-width: 767px) {
    .head-bg .heading {
      font-size: 28px;
      line-height: 40px; } }

.qa-bg {
  padding-bottom: 160px; }
  @media (max-width: 992px) {
    .qa-bg {
      padding-bottom: 96px; } }
  @media (max-width: 767px) {
    .qa-bg {
      padding-bottom: 56px; } }
  .qa-bg .qa {
    font-size: 32px;
    line-height: 45px;
    font-weight: 700; }
  .qa-bg .know {
    margin-top: 36px; }
  .qa-bg .qa-example {
    margin-bottom: 32px; }
  .qa-bg .q {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 16px; }
  .qa-bg .a {
    margin-left: 9%; }
  @media (max-width: 992px) {
    .qa-bg .a {
      margin-left: 8%; } }
  @media (max-width: 767px) {
    .qa-bg .qa {
      font-size: 20px;
      line-height: 35px; }
    .qa-bg .q {
      margin-bottom: 8px; }
    .qa-bg .a {
      margin-left: 0; } }

/*# sourceMappingURL=all.css.map */
